@tailwind base;
@tailwind components;
@tailwind utilities;

/* Need to connect this container to tailwind.css so that we use this bg color */
.contain{
  background-color: var(--bg);
  color: var(--textColor);
}

/* Dark theme */
.dark {
  --bg: #131314;
  --bgSecondary: #1e1f20;
  --textColor: #444746;
  --softBg: #1f273a;
  --softTextColor: #a6a6a6;
}

/* light theme */
.light {
  --bg: white;
  --bgSecondary: #f1f5f9;
  --textColor: black;
  --softBg: #f0f0f0;
  --softTextColor: #626262;
}

:root {
  min-height: 100vh;
}

@media (max-width:600px) {
  .sidebar{
    display: none;
  }
}

.loader{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.loader hr{
  border-radius: 10px;
  border:none;
  background-color: #f6f7f8;
  background: linear-gradient(to right,#9ed7ff,#ffffff,#9ed7ff);
  background-size: 800px 50px;
  height:20px;
}